<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/admin/product/new" class="btn btn-primary">New Product</a>
      <br/> <br/>
      <table class="table">
        <tr>
          <th>name</th>
          <th>price</th>
          <th>action</th>
        </tr>
        <tr *ngFor="let p of productList">
            <td>{{p.Title}}</td>
            <td>{{p.Price}}</td>
            <td>
              <a [routerLink]="['/admin/product/', p.Id]" >Edit</a> |  
              <a (click)="Delete(p.Id)" >Delete</a>
            </td>
          </tr>  
      </table>
    </div>
  </div>
</div>
